section#about-us-page {
	font-family: 'MinionPro-MediumCapt', Helvetica, serif;
	background-color: #3B3B3B;
	height: auto;
}

.container-fluid {
	padding-left: 5vmin;
	padding-right: 10vmin;
}

.image-spacing {
	height: 70vmin;
	width: auto;
	margin-bottom: 5%;
}

.row-spacing {
	padding-top: 10%;
	line-height: 0.1rem;
}

.header-about-us {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

.text-about-us {
	margin-top: 1.5rem;
	font-size: 3vmin;
	font-weight: 100;
	letter-spacing: .17rem;
	color: white;
	line-height: 1.5;
}