<section id="about-us-page">
	<div class="container-fluid">
		<div class="row h-5 row-spacing">
			<div class="col-sm-12 col-lg-5 pt-sm-5 pt-md-0 text-center">
				<img src="../../assets/images/about-us/oil.png" alt="oil picture" class="image-spacing">
			</div>
			<div class="col-sm-12 col-lg-7 pl-lg-3 text-sm-center text-md-left">
				<div class="h2 text-lg-left text-center header-about-us">
					Хто ми?
				</div>
				<p class="text-about-us text-justify">
					OMEGA TRADE INVEST - молода торгівельна компанія, розташована в Києві. Наша ціль - постачання масложирової продукції вищого ґатунку, без консервантів чи антиоксидантів, за розумними цінами та гарантіями якості. Ми пропонуємо широкий вибір, який охоплює необмежене коло споживачів. Наш асортимент нараховує більш ніж 50 найменувань.<br > Зв'яжіться з нами, щоб дізнатись більше.
				</p>
			</div>
		</div>
	</div>
</section>