<section id="contacts-page">
	<div class="container-fluid jumbotron pt-sm-5 pt-lg-2 pb-sm-5">
		<div class="row mt-md-5">
			<div class="col-sm-12 col-lg-7">
				<ul class="list-unstyled text-white contact-letter-spacing">
					<li class="pb-md-4 pb-sm-4">
						<div class="h2 header-text text-lg-left text-center">Зв'яжіться з нами</div>
					</li>
					<li class="pb-md-4 pb-sm-5">
						<span><img src="../../assets/images/contacts/phone-big.png" class="contact-icon"></span>
						<a href="tel:380445285225" class="text-white ml-sm-1">
							+38 (044) 528 52 25
						</a>
					</li>
					<li class="pb-md-4 pb-sm-5">
						<span><img src="../../assets/images/contacts/email-envelope.png" class="contact-icon"></span>
						<a href="mailto:om.trade.invest@gmail.com" class="text-white ml-sm-1">
							om.trade.invest@gmail.com
						</a>
					</li>
					<li class="pb-md-4 pb-sm-5">
						<span><img src="../../assets/images/contacts/facebook-icon.png" class="contact-icon"></span>
						<a href="https://facebook.com/omegatradeinvest" class="text-white ml-sm-1">
							facebook.com/omegatradeinvest
						</a>
					</li>
					<li class="pb-md-4 pb-sm-4">
						<ul class="list-inline">
							<li class="list-inline-item my-auto">
								<img src="../../assets/images/contacts/location.png" class="contact-icon mb-sm-5 pt-sm-0">
							</li>
							<li class="list-inline-item my-auto">
								OMEGA TRADE INVEST Office 1042,<br >
								Kyiv, Ukraine 4-6 Ionna Pavla II st.;<br >
								building B; office 1306
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-lg-5 text-lg-right text-center">
				<!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=Kyiv,Ukraine&zoom=13&size=400x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C50.4204542,30.5262178&key=AIzaSyAXwltgFeo6ElEsMA7gT2WBbjrq4stO3nY" 
				class="image-map"> -->
				<a href="../../assets/images/contacts/map.png">
					<img src="../../assets/images/contacts/map.png" title="Натисність для збільшення" class="image-map mr-sm-5">
				</a>
			</div>
		</div>
	</div>
</section>	