<section id="contacts-page">
	<div class="container-fluid jumbotron pt-sm-5 pb-sm-2">
	<div class="h2 header-text text-lg-left text-center">Зв'яжіться з нами</div>
		<div class="row mt-md-5">
			<div class="col-sm-12 col-lg-7">
				<ul class="list-unstyled text-white contact-letter-spacing">
					<li class="pb-md-4 pb-sm-4">
						<span><img src="../../assets/images/contacts/phone-big.png" class="contact-icon"></span>
						+38 (044) 528 52 25
					</li>
					<li class="pb-md-4 pb-sm-4">
						<span><img src="../../assets/images/contacts/email-envelope.png" class="contact-icon"></span>
						om.trade.invest@gmail.com
					</li>
					<li class="pb-md-4 pb-sm-4">
						<span><img src="../../assets/images/contacts/facebook-icon.png" class="contact-icon"></span>
						facebook.com/omegatradeinvest
					</li>
					<li class="pb-md-4 pb-sm-4">
						<ul class="list-inline">
							<li class="list-inline-item">
								<img src="../../assets/images/contacts/location.png" class="contact-icon mt-reduced">
							</li>
							<li class="list-inline-item text-justify">
								OMEGA TRADE INVEST Office<br >
								1042, Kyiv, Ukraine<br >
								4-6 Ionna Pavla II st.;<br >
								building B; office 1306
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-lg-5 text-lg-right text-center">
				<!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=Kyiv,Ukraine&zoom=13&size=400x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C50.4204542,30.5262178&key=AIzaSyAXwltgFeo6ElEsMA7gT2WBbjrq4stO3nY" 
				class="image-map"> -->
				<img src="../../assets/images/contacts/map.png" class="image-map">
			</div>
		</div>
	</div>
</section>	