<section id="contacts-page">
	<div class="container">
	<div class="h2 header-text">Зв'яжіться з нами</div>
		<div class="row mt-md-5">
			<div class="col-sm-12 col-md-6">
				<ul class="list-unstyled text-white contact-letter-spacing">
					<li class="h4 pb-md-2">
						<span><img src="../../assets/icons/phone-big.svg" class="contact-icon"></span>
						+38 (044) 528 52 25
					</li>
					<li class="h4 pb-md-2">
						<span><img src="../../assets/icons/email-envelope.svg" class="contact-icon"></span>
						om.trade.invest@gmail.com
					</li>
					<li class="h4 pb-md-2">
						<span><img src="../../assets/icons/ionicons-facebook.svg" class="contact-icon"></span>
						facebook.com/omegatradeinvest
					</li>
					<li class="h4 pb-md-2">
						<span><img src="../../assets/icons/room.svg" class="contact-icon mb-md-2"></span>
						OMEGA TRADE INVEST Office<br >
						1042, Kyiv, Ukraine 4-6 Ionna Pavla II st.;<br >
						building B; office 1306
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 ml-auto">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=50.4204542,30.5262178&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C50.4204542,30.5262178&key=AIzaSyAXwltgFeo6ElEsMA7gT2WBbjrq4stO3nY">
			</div>
		</div>
	</div>
</section>