<nav class="navbar navbar-dark navbar-expand-lg fixed-top text-uppercase">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<img class="brand-img img-responsive mx-auto d-block d-lg-none" src="../../assets/images/navbar/omega-logo-white.png">
	<div class="collapse navbar-collapse" id="navbarNav">
		<!-- <div class="navbar-nav mr-auto">
			<a class="nav-item nav-link" routerLink="/#login">Вхід</a>
		</div> -->
		<div id="left-navbar" class="nav navbar-nav">
			<a class="nav-item nav-link my-auto" href="#home-page">Головна</a>
			<a class="nav-item nav-link my-auto" href="#categories-page">Каталог продукції</a>
		</div>
			<a class="nav-link py-0" routerLink="/home">
				<img id="center-logo" class="brand-img img-fluid d-none d-lg-block" src="../../assets/images/navbar/omega-logo-white.png">
			</a>
		<div id="right-navbar" class="nav navbar-nav">
			<a class="nav-item nav-link my-auto" href="#about-us-page">Про нас</a>
			<a class="nav-item nav-link my-auto ml-lg-3" href="#contacts-page">Зв'язатися</a>
		</div>
		<!-- <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link">Укр</a>
		</div> -->
	</div>
</nav>