<nav class="navbar navbar-dark navbar-expand-lg fixed-top text-uppercase">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<img class="brand-img img-responsive mx-auto d-block d-lg-none" src="../../assets/images/navbar/omega-logo.png">

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="nav navbar-nav col-sm-5 px-sm-0">
			<li class="nav-item my-auto mx-sm-0 mx-lg-auto">
				<a class="nav-link" href="#home-page">Головна</a>
			</li>
			<li class="nav-item my-auto mx-sm-0 mx-lg-auto">
				<a class="nav-link my-auto" href="#categories-page">Каталог продукції</a>
			</li>
		</ul>
		<ul class="nav navbar-nav col-sm-2 text-center d-none d-lg-block px-0">
			<li class="nav-item my-auto">
				<a class="nav-link navbar-brand my-0 py-0 px-0 mx-0" href="#home-page">
					<img id="center-logo" class="brand-img img-fluid" src="../../assets/images/navbar/omega-logo.png">
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav col-sm-5 px-sm-0">
			<li class="nav-item my-auto mx-sm-0 mx-lg-auto">
				<a class="nav-link" href="#about-us-page">Про нас</a>
			</li>
			<li class="nav-item my-auto mx-sm-0 mx-lg-auto">
				<a class="nav-link" href="#contacts-page">Зв'язатися</a>
			</li>
		</ul>
	</div>

</nav>