.navbar {
	background-color: #141414;
	font-family: 'MinionPro-MediumCapt', Helvetica, serif;
}

.brand-img {
	height: 10vmin;
	width: auto;
	padding: 0px;
	margin-right: 30vw;
}

@media (min-width: 768px) {
	.brand-img {
		height: 50px;
		margin: auto;
	}
}