section#categories-page {
	background-color: #3B3B3B;
	font-family: 'MinionPro-MediumCapt', Helvetica, serif;
}

.container-fluid {
	padding-left: 10vmin;
	padding-right: 10vmin;
}

.category-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	padding-top: 6%;
}

.category-logo {
	width: 80vmin;
}

@media (min-width: 1200px) {
	.category-logo {
		width: 50vmin;
	}
}

.list-spacing {
	margin-bottom: 3vmin;
}

.text-description {
	font-size: 2vmin;
}

.letter-spacing {
	letter-spacing: 0.15rem;
}