<section id="categories-page">
	<div class="h2 category-header">
		Асортимент нашої продукції
	</div>
	<div class="container-fluid mt-sm-5">
		<div class="row">
			<div class="col-sm-4 text-center text-white text-uppercase pb-sm-5" *ngFor="let category of categories">
				<ul class="list-unstyled">
					<li class="list-spacing">
						<img src="{{category.imageUrl}}" alt="{{category.description}}" class="category-logo">
					</li>
					<li>
						<p class="h4 letter-spacing">{{category.name}}</p>
					</li>
					<li>
						<!-- <p class="text-description letter-spacing">{{category.description}}</p> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>