<div class="text-center">
	<h3 class="display-6">Our categories:</h3>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="../../assets/rustic.png" alt="Rustic">
					<div class="card-body">
	               		<h4 class="card-title">Rustic</h4>
          				<p class="card-text">It made out of natural wood.</p>
		            </div>
		            <div class="card-footer py-4">
	               		<a id="cat" href="#" class="btn btn-secondary">See more... &raquo;</a>
		            </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" style="width: 348px; height: 348px;" src="../../assets/common.png" alt="Common">
					<div class="card-body">
	               		<h4 class="card-title">Common</h4>
          				<p class="card-text">Good piece of old oak.</p>
		            </div>
		            <div class="card-footer py-4">
	               		<a href="#" class="btn btn-secondary">See more... &raquo;</a>
		            </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="../../assets/select.png" alt="Select">
					<div class="card-body">
	               		<h4 class="card-title">Select</h4>
          				<p class="card-text">Makes your life more natural</p>
		            </div>
		            <div class="card-footer py-4">
	               		<a href="#" class="btn btn-secondary">See more... &raquo;</a>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>