<app-navbar></app-navbar>

<!-- <router-outlet></router-outlet>

<footer class="footer bg-dark">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <a class="text-light" routerLink="#"> About us</a>
      </div>
      <div class="col-md-3">
        <a class="text-light" routerLink="#"> Contacts</a>
      </div>
      <div class="col-md-3">
        <a class="text-light" routerLink="#"> For partners</a>
      </div>
      <div class="col-md-3">
        <a class="text-light" routerLink="#"> Press</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-light">2019 Copyright &copy;</div>
      </div>
    </div>
  </div>
</footer> -->