<section id="home-page">
	<div class="container mr-0">
		<div class="row">
			<div class="col-sm-12 col-lg-8 ml-sm-0 ml-lg-auto">
				<div class="company-header text-left text-uppercase">
					<div class="py-0">
						<span>
							Omega Trade Invest - Гарант якості <br >
							на українському ринку <br >
							масложирової продукції
						</span>
						<a class="my-auto" href="#categories-page">
							<button class="btn more-button">Дізнатися більше &gt;</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>