<div class="jumborton jumborton-fluid">
	<div class="container-fluid text-center text-white">
		<h1 class="display-4">Good Floor is Elisium</h1>
		<h3 class="display-6">Test message</h3>
		<a routerLink="/items">
			<button class="btn btn-outline-success btn-lg">
				<div class="display-6">Explore</div>
			</button></a>
		<p class="display-8">* our items supply is updating all the time</p>
		<hr>
	</div>
</div>

<app-categories></app-categories>

<hr>

<footer class="py-3">
	2019 Copyright &copy;
</footer>